{% extends "layout.html" %}

{% block title %}
Add Camp
{% endblock %}

{% block content %}

<div class="container-fluid p-5" style="background-color: rgb(3,83,164);">

  <div class="container-lg p-4 my-4" style="background-color: rgb(198,221,240);">
    <h2 class="py-3" style="color:rgb(3,83,164);">  Please enter details </h2>
    <form action="{{url_for('add_camp', id=id, task=task)}}" method="POST">

      <div mb-3>
        <label for="location" class="form-label">Location</label>
        <input type="text" class="fom-control" id="location" placeholder="" name="camp_location" value="{{camp_location}}" required>
            <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div mb-3>
        <label for="date" class="form-label">Date</label>
        <input type="date" class="fom-control" id="date" placeholder="" name="camp_date" value="{{camp_date}}" required>
            <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div mb-3>
        <label for="cost" class="form-label">Cost (input number)</label>
        <input type="text" class="fom-control" id="cost" placeholder="" name="camp_cost" value="{{camp_cost}}" required>
            <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
      </div>
        <div class="text-end">
          <button type="reset" class="btn btn-primary">Reset</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
</div>

{% endblock %}