{% extends "layout.html" %}

{% block title %}
Hall of Fame
{% endblock %}

{% block banner %}
    <style>
        .hero{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        color: rgba(200,200,200,0.75);
        transform: translate(-50%, -50%);
        }

    </style>
<img src="static/images/coverimage_8.jpeg" alt="Front Banner" class="d-block" style="width:100%;"></div>

    <div class="hero"><h1> Hall of Fame </h1>
    </div>
{% endblock %}


{% block content %}

<div class="container-fluid p-3" style="background-color: rgb(3,83,164);">

    {% if session and session['authorisation']  in ['Coach'] %}
         <div class="news p-4 my-4 text-end">
        <a class="btn btn-primary" href="{{ url_for('hof_cud', id=0, task='add') }}" method="POST">Add a person</a>
      </div>
        {% endif %}

    <div class="container-md">
        <div class="row p-3">
            {% for row in halloffame %}
            <div class="col mb-5">
                <div class="card mx-auto h-100 mb-3" style="width: 18em;">
                    <img class="card-img-top" src={{row['headshot']}} alt="Picture of Person" style="width:100%">
                    <h4 class="card-title p-3" style="color: rgb(3,83,164);">{{row['name']}}</h4>
                    <div class="card-body">
                        {{row['description'] | replace("\n", "<br>") }}
                        <br>
                        <a href={{row['socials']}} target="_blank" class="btn btn-primary mt-3">See Social Media</a>
                    </div>
                    {% if session and session['authorisation']  in ['Coach'] %}
                <div class="news-meta p-2">
                    <a href="{{ url_for('hof_cud', id=row['hof_id'], task='update') }}" class="btn btn-primary" >Edit</a>
                    <a href="{{ url_for('hof_cud', id=row['hof_id'], task='delete') }}" class="btn btn-primary" >Delete</a>
                </div>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>









{% endblock %}