
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');


:root{
    --brand-light: rgb(198,221,240);
    --brand-blue: rgb(3,83,164);
    --brand-medium: rgb(0,109,170);
    --brand-deep: rgb(12,54,131);
    --brand-light: rgb(110,169,216);
}

body{
    background-color: var(--brand-blue);
    font-family: 'Fira sans', sans-serif;
    font-size: 100%;
}

p{
    font-size: 1.6em;
}


h1 {
    font-size: 3.5em;
    border: 0px solid red;
    padding:0;
    overflow: hidden;
    color: rgb(255,255,255,0.75);
    font-weight: bold;
    display: table;
    white-space: nowrap;
    margin: 0em;
    text-align: center;
}

h1:before, h1:after {
    border-top: 3px rgb(255,255,255,0.75);
    content: '';
    display: table-cell;
    position: relative;
    top: 0.65em;
    width: 50%;
}
h1:before { right: 3%; }
h1:after { left: 3%; }

/* -------------------------------------- */

h2{
    font-size: 3em;
    font-weight: bolder;
    color: black;
    padding-bottom: 0.5em;
    text-align: center;
    margin: 0;
}


h3{
    font-size: 2em;
    font-weight: bolder;
    color: black;
    padding-bottom: 0.5em;
    text-align: center;
    margin: 0;
}

h4{
    font-size: 3em;
    font-weight: bolder;
    color: black;
    padding-bottom: 0.5em;
    text-align: left;
    margin: 0;
}


.hero{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.7em;
}

/* -- navigation --- */


    .navbar{
        border-bottom: 1px var(--brand-deep);
    }

    .nav-item:hover{
        background-color: var(--brand-deep);
    }

    .nav-link{
        font-size: 1em;
        color: white;
    }

    .nav-link:hover{
        color: var(--brand-light);
    }

    .btn{
        color: var(--brand-deep);
        background-color: white;
    }

    .btn:hover{
        color: var(--brand-light);
    }

    .btn-outline{
        border: 1px var(--brand-deep);
        padding: 0 1em;
        margin-bottom: 0.1em;
    }

    .btn-outline:hover{
        background-color: var(--brand-blue);
    }


/* --- sections ------*/

.quote, .body-text, label, .table, form p, form check, label{
    border: 0px solid red;
    margin: 0em 0.1em 0.1em 0;
    padding: 0.5em;
    text-align: center;
    font-size: 1.6em;
    color: white;
    font-weight: 400;
}

ul{
    border: 0px solid red;
    margin: 0em 0.1em 0.1em 0;
    padding: 0.5em;
    text-align: left;
    font-size: 1.6em;
    color: white;
    font-weight: 400;
}

.form-label{
    border: 0px solid red;
    margin: 0em 0.1em 0.1em 0;
    padding: 0.5em;
    text-align: center;
    font-size: 1.6em;
    color: var(--brand-deep);
    font-weight: 400;
}

/* cards */

.card{
    max-width: 500px;
    margin: auto;
    background-color: rgb(198,221,240);
    border-radius: 0.1em;
    filter: drop-shadow(0.25em 0.25em 0.25em rgba(0,0,0,0.3));
    }

.card-footer{
    font-size: 1.7em;
    font-weight: 400;
    text-align: left;
}

.card-text{
    font-size: 1.7em;
    font-weight: 400;
    text-align: left;
    }

.card-title{
    font-size: 1.7em;
    font-weight: bold;
    text-align: left;
}

.card-header{
    font-size: 2em;
    text-align: left;
    font-weight: 400;
}

.description{
    font-size: 1.7em;
    font-weight: 200;
    text-align: left;
}



/* -- layout --- */

.news{
    max-width: 900px;
    margin: auto;
    background-color: rgb(198,221,240);
    border-radius: 0.1em;
    filter: drop-shadow(0.25em 0.25em 0.25em rgba(0,0,0,0.3));
}
.news-text{
    font-size: 1.7em;
}
.news-meta{
    text-align: end;
    font-weight: bold;
}

.comment{
    max-width: 600px;
    margin: auto;
    background-color: rgb(198,221,240);
    border-radius: 1em;
    filter: drop-shadow(0.25em 0.25em 0.25em rgba(0,0,0,0.3));
}
.news-text{
    font-size: 1.4em;
}
.news-meta{
    text-align: end;
}


.container-lg{
    background-color: white;
    margin-bottom: 1.5em;
}


.container-lg{
    background-color: var(--brand-blue);
    margin-bottom: 1.5em;
}

.col-lg, col-lg{
    border: 8px var(--brand-blue) ;
    box-sizing:border-box;
}


/* -- images --- */
.part-img{
    max-width: 75%;
    margin:auto;
    display: block;
}

.wrapper {
  text-align: center;
  item-align: center;
}


.footer-content{
    background-color: var(--brand-light);
    text-align: center;
    padding: 0.1em 0 0.1em 0;
    color: var(--brand-deep);
}

.footer-content p:first-child{
    font-weight: 600;
    font-size: 1.7em;
}



@media only screen and (max-width: 768px) {

    .body-text, .quote{
        font-size:1.7em;
    }
    h1{
        font-size:2em;
    }
}

@media only screen and (max-width: 576px) {
    .part-img{
        max-width: 100%;
    }
    .img-thumbnail{
        max-width: 100%;
    }

}


