
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');


:root{
    --brand-grey: rgb(202,206,202);
    --brand-blue: rgb(54,62,89);
    --brand-brown: rgb(83,23,19);
    --brand-purple: rgb(61,43,61);
    --brand-dark: rgb(33,1,36);
}

body{
    font-family: 'Fira sans', sans-serif;
    font-size: 100%;
    background-color: var(--brand-blue);
}

.hero{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.7em;
        }

.session{
        font-size: 1.7em;
    color: red;
    background-color: white;
        }


.second{
        position: absolute;
        text-align: center;
        font-size: 0.8em;
        top: 80%;
        left: 50%;
        color: rgba(200,200,200,0.5);
        transform: translate(-50%, -80%);
        }

/* --- text ------*/

.quote{
    text-align: center;
    font-size: 1.7em;
    font-style: italic;
    padding: 1em 1em;
    color: rgb(150,150,150);
}

.body-text{
    font-size: 1.7em;
    font-weight: 400;
    text-align: left;
    line-height: 2;
}

ul{
    font-size: 1.7em;
    font-weight: 400;
    text-align: left;
    line-height: 2;
}


label{
    font-size: 1.7em;
    font-weight: 400;
    text-align: left;
    line-height: 2;
    color: rgb(198,221,240);
}

.table{
 font-size: 1.7em;
    font-weight: 400;
    text-align: left;
    line-height: 2;
    }


form p{
    font-size: 1.7em;
    font-weight: 400;
    text-align: left;
    line-height: 2;
}

 form-check{
 font-size: 1.7em;
    font-weight: 400;
    text-align: left;
    line-height: 2;
    }


label{
     font-size: 1.7em;
    font-weight: 400;
    text-align: left;
    line-height: 2;
   color: rgb(3,83,164);
}

.card{
    max-width: 500px;
    margin: auto;
    background-color: rgb(198,221,240);
    border-radius: 0.1em;
    filter: drop-shadow(0.25em 0.25em 0.25em rgba(0,0,0,0.3));
    }

.card-footer{
    font-size: 1.7em;
    font-weight: 400;
    text-align: left;
}

.card-text{
    font-size: 1.7em;
    font-weight: 400;
    text-align: left;
    }

.card-title{
    font-size: 1.7em;
    font-weight: 500;
    text-align: left;
}

.card-header{
    font-size: 2em;
    text-align: left;
    font-weight: 400;
}

.description{
    font-size: 1.7em;
    font-weight: 200;
    text-align: left;
}

h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 400;
    padding:0;
    overflow: hidden;
    color: white;
    display: table;
    white-space: nowrap;
}
h1:before, h1:after {
    border-top: 3px solid white;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.65em;
    width: 50%;
}
h1:before { right: 3%; }
h1:after { left: 3%; }

h2{
    font-size: 3em;
    text-align: center;
    font-weight: 400;
    margin: 0;
}


h3{
    font-size: 2em;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

h4{
    font-size: 3em;
    text-align: left;
    font-weight: 400;
    margin: 0;
}




/* -- layout --- */

.news{
    max-width: 900px;
    margin: auto;
    background-color: rgb(198,221,240);
    border-radius: 0.1em;
    filter: drop-shadow(0.25em 0.25em 0.25em rgba(0,0,0,0.3));
}
.news-text{
    font-size: 1.7em;
}
.news-meta{
    text-align: end;
    font-weight: bold;
}





.container-lg{
    background-color: var(--brand-blue);
    margin-bottom: 1.5em;
}

.col-lg, col-lg{
    border: 8px var(--brand-blue) ;
    box-sizing:border-box;
}


/* -- images --- */
.part-img{
    max-width: 75%;
    margin:auto;
    display: block;
}

.wrapper {
  text-align: center;
  item-align: center;
}


.footer-content{
    background-color: var(--brand-blue);
    text-align: center;
    padding: 0.1em 0 0.1em 0;
    color: var(--brand-grey);
}

.footer-content p:first-child{
    font-weight: 600;
    font-size: 1.7em;
}


/* -- navigation --- */


    .navbar{
        background-color: rgb(12,54,131, 0.7);
        border-bottom: 1px var(--brand-dark);
    }

    .nav-item:hover{
        background-color: var(--brand-blue);
    }

    .nav-link{
        font-size: 1em;
        color: var(--brand-grey);
    }

    .nav-link:hover{
        color: rgb(110,169,216);
    }

    .btn{
        color: rgb(110,169,216);
    background-color: rgb(3,83,164);
    border: 1px var(--brand-purple);
    }

    .btn:hover{
        background-color: rgb(110,169,216);
    }

    .btn-outline{
        border: 1px var(--brand-purple);
        padding: 0 1em;
    }

    .btn-outline:hover{
        background-color: var(--brand-blue);
    }

@media only screen and (max-width: 768px) {

    .body-text, .quote{
        font-size:1.7em;
    }
    h1{
        font-size:2em;
    }
}

@media only screen and (max-width: 576px) {
    .part-img{
        max-width: 100%;
    }
    .img-thumbnail{
        max-width: 100%;
    }

}


