
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&display=swap');

:root{
    --brand-grey: rgb(202,206,202);
    --brand-blue: rgb(54,62,89);
    --brand-brown: rgb(83,23,19);
    --brand-purple: rgb(61,43,61);
    --brand-dark: rgb(33,1,36);
}

body{
    font-family: 'Asap', sans-serif;
    font-size: 100%;
    background-color: var(--brand-blue);
}


/* --- text ------*/

.quote{
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 1em 1em;
    background-color: var--(brand-purple);
    color: rgb(150,150,150);
}

.body-text{
    font-size: 1.5em;
    line-spacing
    font-weight: 400;
    text-align: left;
    line-height: 2;
}

.card-text{
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    }

.card-title{
    font-size: 2em;
    font-weight: 500;
    text-align: left;
}

.description{
    font-size: 1.5em;
    font-weight: 200;
    text-align: left;
}


h1{
    font-size: 4em;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

h2{
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

h3{
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

/* -- layout --- */




.container-lg{
    background-color: var(--brand-blue);
    margin-bottom: 1.5em;
}

.col-lg, col-lg{
    border: 8px var(--brand-blue) ;
    box-sizing:border-box;
}


/* -- images --- */
.part-img{
    max-width: 75%;
    margin:auto;
    display: block;
}

.wrapper {
  text-align: center;
  item-align: center;
}


.footer-content{
    background-color: var(--brand-blue);
    text-align: center;
    padding: 0.1em 0 0.1em 0;
    color: var(--brand-grey);
}

.footer-content p:first-child{
    font-weight: 600;
    font-size: 1.5em;
}


/* -- navigation --- */


    .navbar{
        background-color: rgb(61,43,61, 0.9);
        border-bottom: 1px var(--brand-dark);
    }

    .nav-item:hover{
        background-color: var(--brand-blue);
    }

    .nav-link{
        font-size: 1.2em;
        color: var(--brand-grey);
    }

    .nav-link:hover{
        color: var(--brand-grey);
    }

    .btn{
    background-color: var(--brand-purple);
    border: 1px var(--brand-purple);
    }

    .btn:hover{
        background-color: var(--brand-blue);
    }

    .btn-outline{
        border: 1px var(--brand-purple);
        padding: 0 1em;
    }

    .btn-outline:hover{
        background-color: var(--brand-blue);
    }

@media only screen and (max-width: 768px) {

    .body-text, .quote{
        font-size:1.5em;
    }
    h1{
        font-size:2em;
    }
}

@media only screen and (max-width: 576px) {
    .part-img{
        max-width: 100%;
    }

}


