{% extends "layout.html" %}

{% block title %}
Campaign Info
{% endblock %}

{% block banner %}

<img src="static/images/coverimage_11.jpeg" alt="Front Banner" class="d-block" style="width:100%;"></div>

    <div class="hero"><h1 style="color: rgb(255,255,255,0.7);"> World's Campaign </h1></div>


{% endblock %}

{% block content %}

<div class="container-fluid p-5" style="background-color: rgb(198,221,240);">

    <h1 class="p-3" style="color: rgb(3,83,164);"> Who we are </h1>
    <div class="container-md p-5" style="background-color: rgb(198,221,240);">
        <p class="body-text p-3" style="color: rgb(3,83,164);">
        New Zealand has a great record in Underwater Hockey on the international stage. Currently, we are the
            number one country in the world with five of the eight world championship titles. The Age Group
            teams (U24 & U18) are currently working on their campaign for the 6th CMAS Underwater Hockey Age
            Group Championships to be held in July / August 2022 (dates to be confirmed). This will also include the Asia Pacific Cup which is scheduled to be held in the Gold Coast in September 2023.</p>
    </div>
</div>


<div class="container-fluid p-5" style="background-color: rgb(110,169,216);">
    <h1 style="color: rgb(3,83,164);"> Important Dates </h1>
    <div class="row p-1 align-items-center">
        <div class="col-md-6  p-3 mb-2">
            <h3 style="color: rgb(3,83,164); font-size: 3em;"> Auckland Camp </h3>
            <h3 style="color: rgb(3,83,164); font-size: 2em;"> 21st/22nd April </h3>
            <h3 style="color: rgb(3,83,164); font-size: 2em;"> Est Cost $321 </h3>
        </div>

        <div class="col-md-6  p-3 mb-2">
            <h3 style="color: rgb(3,83,164); font-size: 3em;"> Wellington Camp </h3>
            <h3 style="color: rgb(3,83,164); font-size: 2em;"> 19th-20th July </h3>
            <h3 style="color: rgb(3,83,164); font-size: 2em;"> Squad Selection Camp </h3>
        </div>
    </div>

    <div class="row p-1 align-items-center">

         <div class="col-md-6  p-3 mb-2">
             <h3 style="color: rgb(3,83,164); font-size: 3em;"> Auckland Camp </h3>
             <h3 style="color: rgb(3,83,164); font-size: 2em;"> 21st-23rd August </h3>
             <h3 style="color: rgb(3,83,164); font-size: 2em;"> Est Cost $282 </h3>
         </div>

         <div class="col-md-6  p-3 mb-2">
             <h3 style="color: rgb(3,83,164); font-size: 3em;"> Trans Tasmans </h3>
             <h3 style="color: rgb(3,83,164); font-size: 2em;"> 21st-28th September </h3>
             <h3 style="color: rgb(3,83,164); font-size: 2em;"> Gold Coast </h3>
         </div>
    </div>

    <h3 style="color: rgb(3,83,164); font-size: 3em;"> Age Group World Championships </h3>
    <h3 style="color: rgb(3,83,164); font-size: 2em;"> 15th-27th July 2024 </h3>
    <h3 style="color: rgb(3,83,164); font-size: 2em;"> Location TBD </h3>
</div>


<div class="container-fluid p-5" style="background-color: rgb(3,83,164);">
    <h1 class="py-3" style="color: rgb(198,221,240);"> What to bring: </h1>

    <div class="row p-3">
        <div class="col-md-6  p-3 mb-5">
          <h4 style="color:rgb(198,221,240);"> UWH Gear: </h4>
            <ul style="color: rgb(198,221,240);">
                <li>Fins</li>
                <li> Glove</li>
                <li> Sticks </li>
                <li> Mask </li>
                <li> Caps (Black and White) </li>
                <li> Puck (if you have one)</li>
                <li> Colourful togs (to help you be indentified in the pool) </li>
                <li> Towels </li>
                <li> Gym clothes and shoes  </li>
            </ul>
        </div>

       <div class="col-md-6  p-3 mb-5">
         <h4 style="color: rgb(198,221,240);"> Other: </h4>
           <ul style="color: rgb(198,221,240);">
                <li>Snacks</li>
                <li> Named Drink Bottle</li>
                <li> Sunblock and insect repellent</li>
                <li> Books, headphones, cards for entertainment  </li>
            </ul>
       </div>
    </div>
</div>

<div class="container-fluid p-5" style="background-color: rgb(0,109,170);">
    <h1  class="py-5" style="color: rgb(198,221,240);"> Cam's Top Camp and Game Tips :) </h1>

    <div class="row p-3">
            <div class="col-md-6  p-3 mb-5">
                <div class="p-3 rounded">
                  <p class="body-text" style="color: rgb(198,221,240);">
                      As a player you are expected to bring an open mind, a willingness to learn, a kind and
                    friendly manner, and the determination to push yourself through some difficult times.
                    Training for an international competition is not always easy, and you will rely on each other
                    to help push through the tough times. Knowing someone else is getting out of bed early
                    to do a swim session makes it that little bit easier to do yourself ;-).
                  </p>
                </div>
            </div>

              <div class="col-md-6  p-3">
                   <img class="img-thumbnail img-fluid shadow" src="static/images/coverimage_3.jpeg" alt="Picture from last worlds">
              </div>
          </div>

              <div class="row p-3">

                   <div class="col-md-6  p-3 mb-5">
                           <img class="img-thumbnail img-fluid shadow" src="static/images/coverimage_4.jpeg" alt="Picture from last worlds">
              </div>
            <div class="col-md-6  p-3 mb-5">
                <div class="p-3 rounded">
                  <p class="body-text" style="color: rgb(198,221,240);"> As competitive athletes please remember that we need to strive to be the best whilst being humble,
              kind and respectful to our squad mates. Underwater Hockey is a team sport. Without a supportive,
              cohesive team around us, we can't be amazing UWH players! Sometimes our competitiveness can see
              us being critical and making comments that may hurt others and within this squad we want everyone to
              enjoy the campaign experience so remember to ensure you bring a positive mindset to the camps.
                  </p>
                </div>
            </div>


          </div>

                  <div class="row p-3">
            <div class="col-md-6  p-3">
                <div class="p-3 rounded">
                  <p class="body-text" style="color: rgb(198,221,240);">
                  For those players born in 2006 you may begin training with the U24 squad however, you will still be considered
          for the U19 squad as well with Ben Forman the U24 coach and myself working together to ensure we are working
          towards the best outcome for all players.
                  </p>
                </div>
            </div>

              <div class="col-md-6  p-3 mb-5">
                   <img class="img-thumbnail img-fluid shadow" src="static/images/coverimage_5.jpeg" alt="Picture from last worlds">
              </div>
          </div>
</div>

<div class="container-fluid p-5" style="background-color: rgb(110,169,216);">
    <div class="container-md p-5" style="background-color: rgb(110,169,216);">
    <h1 style="color: rgb(3,83,164);"> Register for April Camp </h1>

    <form class="f-box mx-auto" action="/action_page.php">

    <div class="mb-3 mt-3">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <div class="input-group mb-3">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        <span class="input-group-text">@example.com</span>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
    </div>

    <div class="mb-3 mt-3">
      <label for="needbillet" class="form-label">Will you need billeting?</label>
      <select class="form-select" id="needbillet" name="needbillet" required>
        <option>Yes</option>
        <option>No</option>
      </select>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

	<div class="mb-3 mt-3">
      <label for="billets">If you are local and can take billets, how many?</label>
      <input type="text" class="form-control" id="billets" placeholder="..." name="billets">
    </div>

    <div class="mb-3 mt-3">
        <label for="comment">Anything else we should know?</label>
        <textarea class="form-control" rows="3" id="comment" name="text"></textarea>
    </div>

      <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Submit</button>
  </form>
    </div>
</div>








{% endblock %}

