{% extends "layout.html" %}

{% block title %}
Hall of Fame
{% endblock %}

{% block banner %}
  <img src="static/images/halloffamebanner.jpg" alt="Front Banner" class="d-block" style="width:100%;">
{% endblock %}


{% block content %}

<div class="container-fluid p-3" style="background-color: rgb(3,83,164);">

    <div class="row p-3">
        <div class="col-md-6">
            <div class="card rounded-0 shadow mx-auto"  style="max-width:700px">
                <img class="card-img-top" src="static/images/gretapic.jpg" alt="Picture of Greta" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Greta Clark</h4>
                  <a href="https://www.instagram.com/gretacclark/" target="_blank" class="btn btn-primary">See Social Media</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <p class="body-text" style="color: rgb(198,221,240);"> As team captain of the Gold Winning U19 Women’s Team 2019, as well as winning top U19 Girl at world's, Greta sets
                the bar high for the rest of us. This ginger giant is a true force to be reckoned with. Her sneaky skills will do nothing but stun
                opponents in a 1v1. She not only has outstanding stick skills but greta could be up there for most versatile player, classically
                showing the rest of us up in any position. Clark’s high work rate is reassuring to her teams as when they’re stuck on the bottom we
                can know not to fear, cause our G Clark is always near. Her hype beast personality sometimes giving Mackey Gee a run for his money.
                Gret's high spirits also come with her monster flick, keep your heads clear cause her flick is always in the air. </p>
        </div>
    </div>

</div>

<div class="container-fluid p-3" style="background-color: rgb( 0,109,170);">
    <div class="row p-3">
        <div class="col-md-6">
        </div>

        <div class="col-md-6">
            <div class="card rounded-0 shadow mx-auto" style="max-width:600px">
                <img class="card-img-top" src="static/images/campic.jpg" alt="Picture of Cam" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Cam Arnold</h4>
                  <p class="card-text">U19 Boy winning Bronze at Worlds in Hobart 2017</p>
                  <a href="https://www.instagram.com/trainthecroc/" target="_blank" class="btn btn-primary">See Social Media</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-3" style="background-color: rgb( 110,169,216);">
    <div class="row p-3">
        <div class="col-md-6">
            <div class="card rounded-0 shadow mx-auto" style="max-width:700px">
                <img class="card-img-top" src="static/images/bexpic.jpg" alt="Picture of Bex" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Rebecca Brosnan</h4>
                  <p class="card-text">Multitime world champ and coach</p>
                  <a href="https://www.instagram.com/brosnanrebecca/" target="_blank"  class="btn btn-primary">See Social Media</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
        </div>
    </div>
</div>

<div class="container-fluid p-3" style="background-color: rgb( 198,221,240);">
    <div class="row p-3">
        <div class="col-md-6 p-3">
            <p class="body-text" style="color: rgb(3,83,164);">Leading by example just like his nose leads his body due to its unnatural protrusion. Yes Nick Healy.
                A few of you have undoubtedly seen this steely faced man around the pool in Wellington but only a fair few of you have dared
                to stare into his eyes. Some say his solemn leer will turn you to stone much like Medusa’s glare, where other’s whisper of their
                life flashing before their eyes after catching a glimpse of his gaze. He smiles when he isn’t focused, and you shouldn’t let his
                plucky looks and below-par physique fool your naked eye. Nick’s profession classifies him as a mechanical engineer, but he does all
                he can to avoid anything to do with it as soon as he walks outside of his office walls. This man/boy is a clever cookie, but every
                yin has its yang, and he loves to keep us on our toes by saying some outrageously stupid things (He will be nodding reading this).
                Nick takes organisation to the absolute extreme and has a propensity to put everything he does or organises into an excel spreadsheet.
                Nick recently created a sleep schedule (on excel of course) for the team while travelling, but don’t worry; he didn’t want it to look
                too boring so he let his creative juices flow and added a pop of colour to the boxes. Nick is a formidable adversary, and usually we’d
                suggest the age old trick of swim, turn and swim again to best this gentleman. Unfortunately this tactic isn’t very effective against
                Nick due his abnormal and some would say unworldly breath hold. It’s quite easy to tell Nick has spent hours and hours of his spare time
                AND work time in the gym, pool or at the track perfecting his craft. All this training, 5 consecutive worlds and his 6th worlds just
                around this corner, we would consider Nick a two trick Pony. </p>
        </div>

        <div class="col-md-6">
            <div class="card rounded-0 shadow mx-auto" style="max-width:600px">
                <img class="card-img-top" src="static/images/nickpic.jpg" alt="Picture of Nick" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Nick Healy</h4>
                  <a href="https://www.instagram.com/acroxlife/" target="_blank" class="btn btn-primary">See Social Media</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-3" style="background-color: rgb( 110,169,216);">
    <div class="row p-3">


        <div class="col-md-6">
            <div class="card rounded-0 shadow mx-auto" style="max-width:600px">
                <img class="card-img-top" src="static/images/eloisepic.jpg" alt="Picture of Eloise" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Eloise Sharpe</h4>
                  <a href="https://www.instagram.com/acroxlife/" target="_blank" class="btn btn-primary">See Social Media</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <p class="body-text" style="color: rgb(3,83,164);"> The one and only Eloise Sharpe otherwise known as weezy. We must warn you, although she looks all cuddly and cute this girl is
                lethal in the pool. She’ll absolute dominate you in any situation wether she’s vs 1 player, 2 players or even 4. Weezy isn’t afraid of anything or
                anyone and we don’t blame her. With skills so slick and so fast you won’t even understand what’s happening until it’s to late and you’ve lost the puck.
                Not only is our team baby a star in the pool, she’s also a star out of the pool. Weezy is a extracurricular genius. You won’t catch this girl getting
                anything less then the top grade at school. She has even been known to resub assignments just to get the big fat E. As well as being a super good hockey player,
                a super good student and a super good team mate, weezy is also a super health freak. Eating mostly organic foods this girl has always got the right fuel to
                smash up every game. She’s all about saving the planet and luckily for them she also enjoys saving her teams butt. Weezy may be super small but she has the
                biggest heart. As cheesy as that sounds theres no doubt about it that this girl has a heart of gold. If your ever down for a super good chat weezy is the one for
                you. She’s always so bubbly and full of energy. Funnily enough she once described herself as “a very calm and collected player” when really she’s the polar
                opposite. Shes a massive (actually really small) ball of energy that is always fizzing and ready to go. </p>
        </div>
    </div>
</div>

<div class="container-fluid p-3" style="background-color: rgb( 0,109,170);">
    <div class="row p-3">
        <div class="col-md-6">
            <p class="body-text" style="color: rgb(198,221,240);"> Like all good stories we must start right at the beginning!! I was informed Clark's childhood was spent in the shadows of
                his exceptional brother Joel. However, things took a turn when puberty struck dun dun dunnn. With testosterone oozing out of his pores like
                sauce from a decent stick date pudding, he grew tall and strong. Arms so enormous he can crush watermelons in the palm of his hand. Quads so
                strong he was disqualified from the tour de France for beating the riders who WERE doping. Feet sooooo big he doesn't need fins but uses them
                just to fit in with the rest of us mere mortals. This phenomenal transformation had his father Colin leaping for joy that his boy, was Auckland’s
                answer to Julian Savea. Horrible shock twist! He chose the path of older brother Joel, to play underwater hockey. Together these two brothers
                worked in unison becoming Glendowie's formidable duo and arguably some of the finest players the school has ever known. With his older brother
                teaching him the ropes early, it was not long before the student was his own master! Finishing his time at school Clark eventually had to cut loose
                so he moved to Wellington to follow his dream of becoming a barista! Four years down the wrong path because his dyslexia got the better of him and
                he's almost become a barrister. We think it actually suits him quite well due to his calm and sympathetic nature. Rile him up though and his lawyer
                tendencies bubble to the surface making righteous remarks and winning almost all arguments. Wellington hasn't just provided him with opportunities
                for his academic endeavours either. We've tried to sculpt him into an elegant, swan like creature gracefully outskilling everyone in the water.
                This did not work. He chose his own path, and it's just as effective, also shorter in most cases. Going through the opposition rather than past
                or around them has its perks.</p>
        </div>

        <div class="col-md-6">
            <div class="card rounded-0 shadow mx-auto" style="max-width:600px">
                <img class="card-img-top" src="static/images/clarkpic.jpg" alt="Picture of Clark" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Clark Samuels</h4>
                  <a href="https://www.instagram.com/acroxlife/" target="_blank" class="btn btn-primary">See Social Media</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-3" style="background-color: rgb(3,83,164);">
    <div class="row p-3">

        <div class="col-md-6">
            <div class="card rounded-0 shadow mx-auto" style="max-width:600px">
                <img class="card-img-top" src="static/images/clairepic.jpg" alt="Picture of CLaire" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Claire George</h4>
                  <a href="https://www.instagram.com/acroxlife/" target="_blank" class="btn btn-primary">See Social Media</a>
                </div>
            </div>
        </div>

         <div class="col-md-6">
             <p class="body-text" style="color: rgb(198,221,240);"> Claire hails from the windy region of Wellington, a prize winning factor as she understands how
                 cold training camps at WRAC can be. Known for whipping out some of the best training camp feeds, such as her slow cooked carbonara pasta and
                 l eek & potato soup, Claire really steps up the challenge of caring for a bunch of hungry young women. A recent quote from Claire shows the
                 fans just how ready she is for this new challenge: "If anyone manages to sneak as many veges into the meal as I can, it's a 10/10 from me." Claire's
                 fuel knowledge is not just a random stab in the dark... as one of the most powerful forwards to exist, Claire recently captained the World Champions
                 of underwater hockey (NZ Elite Women), and often embarrassingly manages to power through lines of opposing players (usually us). When on a run like this,
                 Claire is unstoppable and this plays a major part in the reason we trust her with her magical concoctions such as GuChews and her mouthwatering chickpea cookies.
                 Ever in any trouble in the water? A puck to the nose? A finger sliced from a tile? Stressed out? Never fear. Forget the lifeguard, mumma bear Claire will be by
                 your side with an ice pack, plasters, rescue remedy, a massage and a big calming smile. The best recovery in our book!</p>
        </div>
    </div>
</div>







</div>
{% endblock %}