{% extends "layout.html" %}

{% block title %}
NZ U19 Girls UWH
{% endblock %}

{% block content %}

    <style>
        .hero{
        position: absolute;
        text-align: centre;
        top: 50%;
        left: 50%;
        color: rgba(200,200,200,0.75);
        transform: translate(-50%, -50%);
        }

    </style>

<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/uwhcover.jpeg" alt="People playing uwh" class="d-block" style="width:100%">
    </div>
    <div class="carousel-item">
      <img src="static/images/uwhcovertwo.jpeg" alt="The squad at a recent camp" class="d-block" style="width:100%">
    </div>
    <div class="carousel-item">
      <img src="static/images/uwhcoverthree.jpeg" alt="Woman playing uwh" class="d-block" style="width:100%">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

    <div class="hero"> <h1> NZ U19 Girl's UWH </h1></div>
</div>


<div class="container-fluid p-5" style="background-color: rgb(12,54,131);">

    <div class="row p-3">
        <div class="col-md-6 p-3 mb-5">
        <h2 style="color: rgb(110,169,216);"> Welcome </h2>
                <br>
        <p class="body-text" style="color: rgb(198,221,240);">
            Welcome to the website for New Zealand’s U19 Girl’s Underwater Hockey Trials and Team! We are currently in the process of trialling
            and selecting two teams of young players to take to Trans Tasmans in the Gold Coast 2023 and are ultimately leading up to Age Ground
            World Championship in Turkey 2024.
            </p>
            </div>

       <div class="col-md-6">
                <h1 style="color: rgb(110,169,216); font-size: 8em;"> 469 </h1>
                <h2 style="color: rgb(198,221,240); font-size: 6em;"> Days Until </h2>
                <h3 style="color: rgb(110,169,216); font-size: 5em;"> Tournament </h3>
           </div>
        </div>
    </div>
</div>


<div class="container-fluid p-5" style="background-color: rgb(110,169,216);">

    <div class="row p-3">
        <div class="col-md-6  p-3 mb-5">
                <h3 style="color: rgb(3,83,164); font-size: 5em;"> Played in over </h3>
                <h1 style="color: rgb(12,54,131); font-size: 8em;"> 36 </h1>
                <h3 style="color: rgb(3,83,164); font-size: 5em;"> Countries </h3>
            </div>

       <div class="col-md-6  p-3 mb-5">
        <h2> What is UWH? </h2>
        <p class="body-text" style="color: rgb(198,221,240);">
            Underwater hockey is an internationally played sport that involves two teams competing to move a puck across the bottom of a swimming
            pool into the opposition’s goal using a small stick. It is a limited contact sport, and players must hold their breath while playing
            (no scuba tanks). New Zealand is a top performer in international underwater hockey, having taken countless wins out over the years and
            currently holding 5 out of 8 world titles.
        </p>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: rgb(3,83,164);">
<h1 style="color: rgb(198,221,240);"> Meet the Coaches </h1>
</div>

<div class="container-fluid" style="background-color: rgb(3,83,164);">

    <div class="row p-3 align-items-center">
        <div class="col-md-6  p-3">
                <h4>Rebecca Brosnan</h4>
                        <p class="body-text" style="color: rgb(198,221,240);">Rebecca (Bex) is our talented head coach! Bex also currently coaches the NZ Elite Women in their journey to Gold Coast Worlds 2023, as
                        well as having been on this team seven times herself between 1993 and 2002. In addition to this, Bex has a daughter that is currently
                        trialling in the U19 team, so she can hear direct feedback on the campaign and any changes that would benefit the players. Bex’s wisdom,
                        knowledge, and calm composure make her and incredible head coach to have on board.</p>
                          <a href="#" class="btn btn-primary">See Profile in Hall of Fame</a>
        </div>

        <div class="col-md-6  p-3 mb-5 mx-auto">
            <img class="part-img rounded-circle shadow border border-dark border-4" src="static/images/bexpic.jpg" alt="Picture of Bex" style="max-width:70%;">
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: rgb(0,109,170);">

    <div class="row p-3 align-items-center">
        <div class="col-md-6  p-3 ">
            <img class="part-img rounded-circle shadow border border-dark border-4" src="static/images/campic.jpg" alt="Picture of Cam" style="max-width:70%">
        </div>

        <div class="col-md-6  p-3">
                <h4>Cameron Manuel-Arnold</h4>
                        <p class="body-text" style="color: rgb(198,221,240);">Cam is our wonderful assistant coach! Working and studying in sports psychology, his practical and theoretical knowledge as well as
                            experience as a player make him a great asset to the team. Cam’s experience ranges from winning CSW Wellington UWH Player of the Year two years in a
                            row and winning gold with the Boys U19 Team in Hobart 2017. As a friendly presence at the pool, players always feel welcome to ask questions and seek
                            help from Cam.
                        </p>
                          <a href="#" class="btn btn-primary">See Profile in Hall of Fame</a>
        </div>
    </div>
</div>



{% endblock %}