{% extends "layout.html" %}

{% block title %}
Training Info
{% endblock %}

{% block banner %}


<img src="static/images/coverimage_1.jpeg" alt="Front Banner" class="d-block" style="width:100%;">

    <div class="hero"><h1> Training </h1>
    </div>

{% endblock %}

{% block content %}

{% for row in blog %}
    <div class="container-sm p-5">
    <article>
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="py-3" style="color:rgb(198,221,240);">{{row['title']}}</h1>
        </header>
    </article>

    <section class="mb-5">
        <p class="fs-5 my-5" style="color:rgb(198,221,240);">{{row['content'] | replace("\n", "<br>") | safe }}</p>

        <div class="fst-italic mb-2" style="color: white;">Posted by {{row['name']}} on {{row['date'] | date }} </div>

        <section class="py-4">
        <a href="#" class="btn btn-primary" style="background-color:rgb(110,169,216);">Edit</a>
        <a href="#" class="btn btn-primary" style="background-color:rgb(110,169,216);">Delete</a>
        </section>
    </section>
    </div>
{% endfor %}

<div class="container-fluid p-5" style="background-color: rgb(198,221,240);">
    <h1 style="color:rgb(3,83,164);" class="py-5"> Training Phases </h1>


    <div class="row p-3 align-items-center">
            <div class="col-md-6  p-3 mb-5">
                <h3 style="color: rgb(3,83,164); font-size: 4em;"> Build Phase </h3>
                <h3 style="color: rgb(12,54,131); font-size: 3em;"> 16 Weeks </h3>
                <h3 style="color: rgb(3,83,164); font-size: 3em;"> 23/1/23-15/5/23 </h3>
            </div>
        <div class="col-md-6  p-3 mb-5">
            <p class="body-text" style="color: rgb(12,54,131);"> The focus of the build phase is to build your aerobic fitness. This means
                we are challenging out aerobic system by doing longer, lower intensity workouts. We will build our
            strength ensuring we are working on balancing our body's correctly to avoid injury. Think long swims, runs,
            cycles or rows. Training so that you can still talk, although it may be becoming difficult. Skills wise you
            should be working on your basic skills ensuring you have a solid grounding. </p>
        </div>
    </div>
</div>

<div class="container-fluid p-5" style="background-color: rgb(110,169,216);">


    <div class="row p-3 align-items-center">
        <div class="col-md-6  p-3 mb-5">
            <p class="body-text"  style="color: rgb(3,83,164);"> The focus of the adjust phase is to work on our sport specific fitness. It sees
            us concentrate more on our anaeorobic system, our speed and our power systems. This will see us increase
            our session intensity (higher RPE) but decrease the length of the session. Skills training will move to more
            game/competition based skills that link into the team tactics.</p>
        </div>
            <div class="col-md-6  p-3 mb-5">
                <h3 style="color: rgb(3,83,164); font-size: 4em;"> Adjust Phase </h3>
                <h3 style="color: rgb(12,54,131); font-size: 3em;"> 9 Weeks </h3>
                <h3 style="color: rgb(3,83,164); font-size: 3em;"> 15/5/23-10/7/23 </h3>
            </div>

    </div>
</div>

<div class="container-fluid p-5" style="background-color: rgb(3,83,164);">


    <div class="row p-3 align-items-center">
            <div class="col-md-6  p-3 mb-5">
                <h3 style="color: rgb(198,221,240); font-size: 4em;"> Comp Phase </h3>
                <h3 style="color: rgb(110,169,216); font-size: 3em;"> 8 Weeks </h3>
                <h3 style="color: rgb(198,221,240); font-size: 3em;"> 10/7/23-4/9/23</h3>
            </div>
        <div class="col-md-6  p-3 mb-5">
            <p class="body-text" style="color:rgb(198,221,240);"> The competition phase is where we train to allow our body's to get used to the stress of the
            competition that is coming up. Sessions will be high intensity and reflect game timings. We will also be having training
            days that include two pool sessions. </p>
        </div>
    </div>
</div>

    <style>
        .hero{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        color: rgba(200,200,200,0.75);
        transform: translate(-50%, -50%);
        }

    </style>

<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/coverimage_7.jpeg" alt="People playing uwh" class="d-block" style="width:100%">
    </div>
    <div class="carousel-item">
      <img src="static/images/coverimage_9.jpeg" alt="Woman playing uwh" class="d-block" style="width:100%">
    </div>
  </div>

  <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>

    <div class="hero"><h1> This Weeks Training </h1>
    </div>
</div>

<div class="container-fluid p-5" style="background-color: rgb(0,109,170);">
    <h1 class="pb-3" style="color: rgb(198,221,240);"> Week 3 Training </h1>
</div>

<div class="container-fluid p-5" style="background-color: rgb(0,109,170);">

        <div class="row p-1 align-items-center">
            <div class="col-md-6  p-3 mb-2">
                <h4 style="color: rgb(198,221,240); font-size: 3em;"> Strength </h4>
                <h4 style="color: rgb(110,169,216); font-size: 2em;"> 3x 60 min </h4>
            </div>
        <div class="col-md-6  p-3 mb-2">
            <p class="body-text" style="color:rgb(198,221,240);"> Tapper Sessions </p>
        </div>
    </div>

            <div class="row p-1 align-items-center">
            <div class="col-md-6  p-3 mb-2">
                <h4 style="color: rgb(198,221,240); font-size: 3em;"> Pool Sessions </h4>
                <h4 style="color: rgb(110,169,216); font-size: 2em;"> 2x 60 min | RPE 5-7 </h4>
            </div>
        <div class="col-md-6  p-3 mb-2">
            <p class="body-text" style="color:rgb(198,221,240);"> Long swim sessions at increasing intensity, still ok to be
               mainly surface work but start including more UW sets and get
               more deliberate about the pace you're working at and the rest
               you are having.  Aim for longer intervals at higher heart
               rates with relatively short recoveries (not yet sprinting).
               Incorporate kick work and add resistance (e.g. vertical flutterboards,
               paddles etc). </p>
        </div>
    </div>

                <div class="row p-1 align-items-center">
            <div class="col-md-6  p-3 mb-2">
                <h4 style="color: rgb(198,221,240); font-size: 3em;"> Cardio  </h4>
                <h4 style="color: rgb(110,169,216); font-size: 2em;"> 2x 60 min | RPE 5-7 </h4>
            </div>
        <div class="col-md-6  p-3 mb-2">
            <p class="body-text" style="color:rgb(198,221,240);"> Increased intensity of cardio.  Move away from lighter forms of cardio
           to running, biking, rowing to get your HR up and maximise the benefit of
           your work.  Start incorporating continuous blocks (20-30 mins) at higher
           pace into these sessions. </p>
        </div>
    </div>

                    <div class="row p-1 align-items-center">
            <div class="col-md-6  p-3 mb-2">
                <h4 style="color: rgb(198,221,240); font-size: 3em;"> Intervals  </h4>
                <h4 style="color: rgb(110,169,216); font-size: 2em;"> 1x 60 min; 1x 30 min (or 2x 45 min) | RPE 7-8  </h4>
            </div>
        <div class="col-md-6  p-3 mb-2">
            <p class="body-text" style="color:rgb(198,221,240);"> Extend interval lengths and reduce recovery - e.g. 6-12 min intervals with
           short recoveries about 25% of the working interval duration.  Always warm
           up and cool down before starting your intervals. </p>
        </div>
    </div>

                        <div class="row p-1 align-items-center">
            <div class="col-md-6  p-3 mb-2">
                <h4 style="color: rgb(198,221,240); font-size: 3em;"> UWH Games  </h4>
                <h4 style="color: rgb(110,169,216); font-size: 2em;"> 1x 60 min </h4>
            </div>
        <div class="col-md-6  p-3 mb-2">
            <p class="body-text" style="color:rgb(198,221,240);"> Add second games night if you can</p>
        </div>
    </div>
</div>





<div class="container-fluid" style="background-color: rgb(3,83,164);">
    <h1 style="color:rgb(198,221,240);" class="py-5 fw-bolder mb-1"> Recent Blog Posts </h1>

<div class="container-sm p-5">
    <!-- Post content-->
    <article>
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="py-3" style="color:rgb(198,221,240);">Tapper Assessments</h1>
        </header>
    </article>


    <section class="mb-5">
        <p class="fs-5 my-5" style="color: rgb(198,221,240);">You should have all received an email from Soph regarding next week being an assessment week for Tapper.
        Please ALL do these sessions whether you have been doing the tapper training or not. Also, there  are
        still a number of blank training diaries please ensure these are completed.  Remember that completion of
        the training diary is a selection criteria (an easy one to meet) so find a way of adding this task to your
        daily / weekly task list. I hope everyone is doing well and avoiding all the horrid colds going around.
        We seem to have one in our house at the moment 😢. Take care and happy training, Bex
        </p>

        <!-- Post meta content-->
        <div class="fst-italic mb-2" style="color: rgb(198,221,240);">Posted on 4/4/2023 by Bex</div>
        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Tapper</a>
                <section class="py-4">
        <a href="#" class="btn btn-primary" style="background-color:rgb(110,169,216);">Edit</a>
        <a href="#" class="btn btn-primary" style="background-color:rgb(110,169,216);">Delete</a>
        </section>
    </section>

    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                <!-- Single comment-->
                <div class="d-flex py-2">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">Leah</div>
                        Thanks Bex :))
                    </div>
                </div>
                <div class="d-flex py-2">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">Maddy</div>
                        Doing this today!
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- Post content-->
    <article>
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="py-3" style="color:rgb(198,221,240);">Session Inspiration</h1>
        </header>
        <figure class="mb-4 px-5"><img class="img-fluid rounded" src="static/images/campost.jpg" alt="..." /></figure>
    </article>


    <section class="mb-5">
        <p class="fs-5 my-5" style="color:rgb(198,221,240);">G’day homies, hope everyone is as fizzed up as I am after seeing the Women’s Elite team announcement, I personally
        can’t wait to see the magic they produce at worlds. If anybody is looking for a new breathhold focused session
        to do here is one that I do 2 days before every camp to get me ready for some punishing breathholds </p>

        <div class="fst-italic mb-2" style="color: white;">Posted on 5/4/2023 by Cam</div>

        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Training Ideas</a>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Pool Sessions</a>

        <section class="py-4">
        <a href="#" class="btn btn-primary" style="background-color:rgb(110,169,216);">Edit</a>
        <a href="#" class="btn btn-primary" style="background-color:rgb(110,169,216);">Delete</a>
        </section>
    </section>

    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light mt-5">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                <!-- Comment with nested comments-->
                    <div class="d-flex mb-4">
                        <!-- Parent comment-->
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">Maddy</div>
                            Doing them today!!
                            <!-- Child comment 1-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Claudia</div>
                                    You got this!!
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </section>

     <!-- Post content-->
    <article>
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="py-3" style="color:rgb(198,221,240);">Box Jump Attempts</h1>
        </header>
        <img class="card-img-top" src="static/images/leahpost.jpg" alt="Card image" style="width:100%">
    </article>



    <section class="mb-5">
        <p class="fs-5 my-5" style="color:rgb(198,221,240);"> ✨our dodgy set up ✨ </p>

        <div class="fst-italic mb-2" style="color: white;">Posted on 2/3/2023 by Leah </div>

        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Training</a>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Assessments</a>
        <section class="py-4">
        <a href="#" class="btn btn-primary" style="background-color:rgb(110,169,216);">Edit</a>
        <a href="#" class="btn btn-primary" style="background-color:rgb(110,169,216);">Delete</a>
        </section>
    </section>

    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light mt-5">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                <!-- Comment with nested comments-->
                    <div class="d-flex mb-4">
                        <!-- Parent comment-->
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">Maddy</div>
                            Doing them today!!
                            <!-- Child comment 1-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Claudia</div>
                                    You got this!!
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>

         <!-- Post content-->
    <article>
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="py-3" style="color:rgb(198,221,240);">Squad Shoutout</h1>
        </header>
    </article>


    <section class="mb-5">
        <p class="fs-5 my-5" style="color:rgb(198,221,240);">
            Shout out to the players with a 90-day Tapper compliance rate of >90%:
            Zara Benson-Phibbs, Natalie Groot
            And to those that are >80%:
            Chantal Brosnan, Claudia Hopkins, Holly Hewitt, Phoebe Ata.
            Well done 👏👏 and I’ll be keen to see everyone’s improvements once the testing
            week is finished! </p>

        <div class="fst-italic mb-2" style="color: white;">Posted on 21/3/2023 by Bex </div>

        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Training</a>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Assessments</a>
                <section class="py-4">
        <a href="#" class="btn btn-primary" style="background-color:rgb(110,169,216);">Edit</a>
        <a href="#" class="btn btn-primary" style="background-color:rgb(110,169,216);">Delete</a>
        </section>
    </section>

    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light mt-5">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4"><textarea> class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                <!-- Comment with nested comments-->
                    <div class="d-flex mb-4">
                        <!-- Parent comment-->
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">Maddy</div>
                            Doing them today!!
                            <!-- Child comment 1-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Claudia</div>
                                    You got this!!
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>





</div>

</div>


{% endblock %}